<div class="background under-header">
    <div class="container center">
        <div class="form-container">
            <form action="" class="form-box center" (ngSubmit)="login()" style="flex-direction: column;">
                <div class="heading">
                    <h1 class="mb-4">Prijavi se</h1>
                </div>
                <div>
                    <input name="username" [(ngModel)]="user.username" type="text" placeholder="Username">
                    <input name="password" [(ngModel)]="user.password" type="password" placeholder="Password">
                </div>
                <div class="button mb-4">
                    <button type="submit" class="link active">Prijavi se</button>
                </div>
                <div class="reg">
                    <p>Nemas nalog? <a class="register-link" href="/register" >Registruj se!</a></p>
                </div>
            </form>
        </div>
    </div>
</div>