.background {
    height: 83vh;
    //background: linear-gradient(#34352a, rgb(104, 117, 58));
    //background-color: rgb(56, 51, 44);
}

.background-image {
    display: flex;
    justify-content: center;
    position: absolute;
    opacity: 100%;
    width: 100%;
    height: 83vh;
    background: url("pliz.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}

.container {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 100%;
}

h1, p {
    color: #fbf2dc;
}

p {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 500;
}

.right {
    width: 50%;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left {
    width: 50%;
}

.left, .right {
    z-index: 998;
}

.form-box {
    border-radius: 5px;
    //background-color: #000000a4; //#0000008f;
    background-color: #000000b9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #56574b;
    background-color: #34352a;
    color: white;
    border: none;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

textarea {
    padding: 0.5rem;
    background-color: #56574b;
    background-color: #34352a;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 200px;
    resize: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.small-area {
    width: 192px;
}

.namelast {
    width: 400px;
    display: flex;
    gap: 16px;
}

.text {
    width: 80%;
}

@keyframes contact-anim {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    40% {
        transform: translateX(0px);
        opacity: 1;
    }
    50% {
        transform: translateX(-50px);
    }
    60% {
        transform: translateX(0px);
    }
    70% {
        transform: translateX(-25px);
    }
    80% {
        transform: translateX(0px);
    }
    90% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.anim {
    animation-name: contact-anim;
    animation-duration: 1s;
}

.anim-rev {
    animation-name: contact-anim;
    animation-duration: 1s;
    animation-direction: reverse;
}

a:hover {
    cursor: pointer;
}

@media (max-width: 1536px) {

    .namelast, input, textarea {
        width: 300px;
    }

    textarea {
        height: 150px;
    }

    .small-area {
        width: 142px;
    }
}


@media (max-width: 1280px) {
    
    .background {
        height: 100vh;
    }

    .background-image {
        height: 90vh;
    }

    .container {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .center-small {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
        display: block;
        text-align: center;
        width: 70%;
    }
    
    .contact {
        display: none;
    }

    .background {
        height: 90vh;
    }   
}

@media (max-width: 768px) {
    .right {
        width: 90%;
    }
}

@media (max-width: 640px) {

    .namelast, input, textarea {
        width: 300px;
    }

    .small-area {
        width: 142px;
    }

    .right {
        width: 110%;
    }
}

@media (max-width: 475px) {

    .namelast, input, textarea {
        width: 250px;
    }

    textarea {
        height: 150px;
    }

    .small-area {
        width: 117px;
    }
}